.team-page .navbar__center, .article-page .navbar__right, .article-page .navbar__menu-item {
    color: black;
}

.team-page .navbar .navbar__menu-item_active { 
    background: black;
    color: white;
}

.team-page .team .team__content {
    margin-bottom: 78px;
}

.team-page .team .team-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: -35px;
    padding-bottom: 50px;
}

.team-page .team .team-header__heading {
    margin: 0px;
    margin-left: 35px;
    font-family: KyivTypeSans;
    font-style: normal;
    font-weight: 800;
    font-size: 65px;
    line-height: 78px;
    text-transform: uppercase;
    color: #727272;
    border-bottom: 1px dashed black;
    padding-bottom: 5px;
    cursor: pointer;
}

.team-page .team .team-header__heading_active {
    border: none;
    order: 1;
    color: black;
} 

.team-page .team .team-structure .team-structure__scheme {
    max-width: 800px;
    margin: 0 auto;
}

.team-page .team .team-structure .team-structure__desc {
    margin-bottom: 82px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    font-family: 'MontserratRegular';
    font-size: 20px;
    line-height: 24px;
    color: black;
}

.team-page .team .team-member {
    margin-bottom: 38px;
}

.team-page .team .team-member__wrapper {
    margin: 0 auto;
    max-width: 258px;
}

.team-page .team  .team-member__image {
    margin-bottom: 38px;
}

.team-page .team  .team-member__image > div > img {
    border-radius: 50%;
}

.team-page .team .team-member__title {
    margin: 0px;
    margin-bottom: 17px;
    font-family: KyivTypeSans;
    font-weight: 900;
    font-size: 25px;
    line-height: 30px;
    color: black;
}

.team-page .team .team-member__description {
    margin: 0px;
    font-family: 'MontserratRegular';
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

@media screen and (max-width: 1200px) { 
    .team-page .team .team-header__heading {
        font-size: 50px;
        line-height: 50px;
    }
    .team-page .team .team-member {
        margin-bottom: 38px;
        width: 33%;
    }
    .team-page .team .team-member__image {
        margin-bottom: 25px;
    }
    .team-page .team .team-member__title {
        margin-bottom: 14px;
        font-size: 20px;
        line-height: 20px;
    }
    .team-page .team .team-member__description {
        font-size: 16px;
        line-height: 20px;
    }
}

@media screen and (max-width: 1024px) {
    .team-page .team .team-header__heading {
        font-size: 30px;
        line-height: 30px;
        margin-left: 20px;
    }
    .team-page .team .team-member {
        margin-bottom: 38px;
    }
    .team-page .team .team-structure .team-structure__desc {
        width: 100%;
        text-align: center;
        margin-top: -20px;
        margin-bottom: 50px;
        font-size: 16px;
        line-height: 22px;
    }
}

@media screen and (max-width: 768px) { 
    .team-page .team .team-member {
        width: 50%;
    }
}

@media screen and (max-width: 480px) {
    .team-page .team .team-header__heading {
        text-align: center;
    }
    .team-page .team .team-member {
        width: 100%;
    }
    .team-page .team .team-structure .team-structure__desc {
        font-size: 14px;
    }
}