.about {
    background: #015BBB;
}

.about .about__content {
    padding-top: 65px;
    padding-bottom: 79px;
}

.about .about__title {
    margin-bottom: 45px;
    font-family: KyivTypeSans;
    font-size: 68px;
    line-height: 82px;
    text-align: left;
    text-transform: uppercase;
    color:#FFD401;
}

.about .about__description {
    font-family: MontserratRegular;
    font-size: 20px;
    line-height: 26px;
    text-align: left;
    color: white;
}

@media screen and (max-width: 1200px) {
    .about .about__content{
        padding-top: 40px;
        padding-bottom: 60px;
    }

    .about .about__title {
        margin-bottom: 20px;
        font-size: 50px;
        line-height: 62px;
    }

    .about .about__description{
        font-size: 18px;
        line-height: 24px;
    }
}

@media screen and (max-width: 1024px) {
    .about .about__title {
        margin-bottom: 16px;
        font-size: 30px;
        line-height: initial;
    }
    .about .about__description {
        font-size: 14px;
        line-height: 20px;
    }
}