.contacts {
    
}

.contacts .contacts__content {
    padding: 74px 0px;
}

.contacts .contacts__heading {
    margin-bottom: 36px;
    font-family: 'KyivTypeSans';
    text-transform: uppercase;
    font-size: 68px;
    line-height: 82px;
    text-align: left;
    color:black;
}

.contacts .contacts__address-block {
    padding: 62px 29px;
    display: flex;
    align-items: center;
    background: #F8F8F8;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.contacts .address-block__text {
    font-family: 'MontserratRegular';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    color: #000000;
}

.contacts .address-block__copy {
    margin-left: 31px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.contacts .contacts__button-block {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .contacts .button-block__button {
    padding: 24px 55px;
    background: #FFD401;
    box-shadow: 0px 0px 22px #FFE30A;
    border-radius: 114px;
    font-family: 'MontserratBold';
    font-size: 23px;
    line-height: 29px;
    color: #0E0E0E;
    text-decoration: none;
} */

@media screen and (max-width: 1200px) {
    .contacts .contacts__content {
        padding-top: 40px;
        padding-bottom: 60px;
    }

    .contacts .contacts__heading {
        margin-bottom: 25px;
        font-size: 50px;
        line-height: 62px;
    }

    .contacts .contacts__address-block {
        padding: 32px 20px;
    }

    .contacts .address-block__text {
        font-size: 26px;
        line-height: 30px;
    }

    .contacts .address-block__copy{
        margin-left: 25px;
        width: 25px;
        height: 25px;
    }

    /* .contacts .button-block__button{
        font-size: 18px;
    } */
}

@media screen and (max-width: 1024px) {
    .contacts .contacts__content {
        padding-top: 30px;
        padding-bottom: 50px;
    }
    .contacts .contacts__heading {
        margin-bottom: 30px;
        font-size: 30px;
        line-height: 30px;
        text-align: center;
    }
    .contacts .contacts__address-block {
        padding: 20px;
        width: 50%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    .contacts .address-block__text {
        font-size: 16px;
        line-height: 16px;
    }
    .contacts .address-block__copy {
        margin-left: 10px;
        width: 18px;
        height: 18px;
    }
    .contacts .button-block__button {
        width: 200px;
    }
    .contacts .contacts__grid {
        display: flex;
        flex-direction: column;
    }
    .contacts .contacts__grid_text {
        width: 100%;
    }
    .contacts .contacts__grid_button {
        width: 100%;
    }
    .contacts .contacts__button-block {
        margin-top: 25px;
        justify-content: center;
    }
}

@media screen and (max-width: 768px) { 
    .contacts .contacts__address-block {
        width: auto;
    }
}