@font-face {
    font-family: KyivTypeSans;
    font-weight: 800;
    font-style: normal;
    text-rendering: optimizeLegibility;
    src: url("../fonts/KyivTypeSans-Heavy.woff2") format("woff2"), url("../fonts/KyivTypeSans-Heavy.woff") format("woff");
 }

 @font-face {
    font-family: MontserratRegular;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    src: url("../fonts/Montserrat-regular.woff2") format("woff2"), url("../fonts/Montserrat-regular.woff") format("woff");
 }

 @font-face {
    font-family: MontserratBold;
    font-weight: 700;
    font-style: normal;
    text-rendering: optimizeLegibility;
    src: url("../fonts/Montserrat-Bold.woff") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
 }

 @media screen and (max-width: 768px) {  
   .footer .footer__navigation-footer {
      flex-wrap: wrap;
  }
 }