.footer {
    background: #015BBB;
}

.footer .footer__content {
    padding: 67px 0px;
}

.footer .footer__navigation-footer {
    list-style: none;
    display: flex;
    justify-content: center;
}

.footer .navigation-footer__item {
    margin-right: 44px;
    color: #FFFFFF;
    opacity: 0.6;
    transition: opacity .478s ease;
}

.footer .navigation-footer__item:hover {
    opacity: 1;
}

.footer .navigation-footer__link {
    font-family: 'MontserratRegular';
    font-size: 22px;
    line-height: 26px;
}

.footer .footer__social-footer {
    margin-top: 52px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .social-footer__item {
    margin-left: 55px;
    width: 50px;
    height: 50px;
}

.footer .social-footer__item:first-child {
    margin-left: 0px;
}

.footer .social-footer__item div {
    width: 50px;
    height: 50px;
}

.footer .social-footer__icon {
    cursor: pointer;
}

.footer .footer__description {
    margin-top: 52px;
    display: block;
    text-align: center;
    font-family: MontserratRegular;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
}

@media screen and (max-width: 1200px) {
    .footer .footer__content {
        padding: 50px 0px;
    }

    .footer .navigation-footer__item {
        margin-right: 35px;
    }

    .footer .uk-link-reset.navigation-footer__link{
        font-size: 18px;
    }

    .footer .footer__social-footer {
        margin-top: 35px;
    }

    .footer .social-footer__item {
        margin-left: 32px;
    }

    .footer .footer__description {
        margin-top: 35px;
        font-size: 18px;
    }
}

@media screen and (max-width: 1024px) { 
    .footer .footer__navigation-footer {
        justify-content: center;
        align-items: center;
        margin: 0 20px;
    }
    .footer .footer__content {
        padding: 30px 0px;
    }
    .footer .footer__social-footer {
        margin-top: 20px;
    }
    .footer .footer__description {
        margin-top: 20px;
        font-size: 14px;
    }
    .footer .navigation-footer__item {
        margin: 0px 10px;
    }
    .footer .uk-link-reset.navigation-footer__link {
        font-size: 16px;
        line-height: 35px;
    }
    .footer .social-footer__item {
        margin-left: 20px;
    }
    .footer .social-footer__item div {
        width: 40px;
        height: 40px;
    }
}