.button {
    width: 306px;
    height: 81px;
    border-radius: 120px;
    background: #FFD401;
    border: 0px transparent;
    box-shadow: 0px 0px 24px 0px rgba(255,227,10,1);
}

.button a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: 'MontserratBold';
    color: #0E0E0E;
    font-size: 28px;
    line-height: 35px;
}

@media screen and (max-width: 1200px) {
    .button {
        width: 256px;
        height: 71px;
    }

    .button a {
        font-size: 22px;
        line-height: 30px;
    }
}