.mission .mission__content {
    padding-top: 74px;
    padding-bottom: 72px;
}

.mission .mission__title {
    margin-bottom: 74px;
    font-family: KyivTypeSans;
    font-size: 68px;
    line-height: 81px;
}

.mission-card {
    height: 100%;
    background: #F8F8F8;
    border-radius: 20px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.mission-card .mission-card__image {
    padding-top:45px;
    margin: 0 auto;
    width: 88px;
    height: 88px;
}

.mission-card .mission-card__title {
    font-family: KyivTypeSans;
    font-size: 25px;
    line-height: 30px;
    margin-top: 22px;
    margin-bottom: 30px;
    text-align: center;
}

.mission-card .mission-card__description {
    padding: 0 50px;
    padding-bottom: 40px;
    font-family: MontserratRegular;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
}

.mission__slider {
    cursor: grab;
}

.mission__slider .uk-slidenav-position, .mission__slider .uk-slidenav {
    display: block;
    transform: scale(1.5);
}

@media screen and (max-width: 1200px) {
    .mission .mission__content {
        padding-top: 40px;
        padding-bottom: 60px;
    }

    .mission .mission__title { 
        margin-bottom: 10px;
        font-size: 50px;
        line-height: 62px;
    }

    .mission-card .mission-card__image {
        width: 68px;
        height: 68px;
    }

    .mission-card .mission-card__title {
        font-size: 22px;
        line-height: 24px;
        margin-bottom: 0px
    }

    .mission-card .mission-card__description {
        margin-top: 25px;
        margin-bottom: 40px;
        padding: 0 40px;
        font-size: 18px;
        line-height: 24px;
    }

    .mission-grid > .mission-grid__item {
        padding-top: 30px;
    }

    .mission-grid__item {
        width: 50%;
    }
}