.navbar {
    margin: 51px 40px;
 }
 
.navbar .navbar__logo {
    display: block;
    width: 105px;
    height: 105px;
    padding-right: 45px;
}

.navbar .navbar__menu-item {
    position: relative;
    padding: 22px;
    text-transform: none;
    font-family: 'MontserratRegular';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 7px;
    opacity: 0.6;
    transition: opacity .478s ease;
}

.navbar .navbar__menu-item:hover {
    opacity: 1;
    transition: opacity .775s ease;
    text-decoration: none;
}

.navbar .navbar__menu-item_active {
    cursor: default;
    opacity: 1;
}

.navbar .navbar__logo {
    display: block;
    width: 105px;
    height: 105px;
    padding-right: 45px;
}

.navbar .navbar__right {
    list-style: none;
}

.navbar .navbar__right button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-family: 'MontserratRegular';
    font-size: 22px;
    line-height: 27px;
}

.navbar__mobile {
    display: none;
}

.navbar__mobile-wrap {
    background: black;
}

.navbar__mobile-menu {
    margin-top: 60px;
    list-style: none;
}

.navbar__mobile-menu li {
    margin-top: 16px;
}

.navbar__mobile-lang-swither {
    margin-top: 30px;
    list-style: none;
    display: flex;
}

@media screen and (max-width: 1200px) { 
    .navbar {
        margin: 40px;
    }
    .navbar .navbar__logo {
        width: 80px;
        height: 80px;
    }
    .navbar .navbar__menu-item {
        padding: 15px;
        font-size: 18px;
    }
}

@media screen and (max-width: 1024px) {
    .navbar .navbar__logo {
        width: 60px;
        height: 60px;
    }
    .navbar .navbar__menu-item {
        padding: 10px;
        font-size: 20px;
    }
    .navbar__desktop {
        display: none;
    }
    .navbar__mobile {
        display: block;
    }
}

@media screen and (max-width: 768px) { 

}

@media screen and (max-width: 480px) {
    .navbar {
        margin: 20px;
    }
}