
.win {
    position: relative;
    overflow: hidden;
}

.win .win__heading {
    margin: 0px;
    font-family: 'KyivTypeSans';
    text-transform: uppercase;
    font-size: 135px;
    line-height: 162px;
    color:white;
}

.win .win__block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 1200px) {
    .win .win__heading {
        font-size: 86px;
        line-height: 90px;
    }
}

@media screen and (max-width: 1024px) { 
    .win .win__heading {
        font-size: 60px;
        line-height: 60px;
    }
}

@media screen and (max-width: 768px) {
    .win .win__heading {
        font-size: 45px;
    }
}

@media screen and (max-width: 480px) {
    .win .win__heading {
        font-size: 34px;
    }
}